{
    "port": 3001,
    "clientId": "",
    "clientSecret": "",
    "scopes": ["identify", "guilds"],
    "redirectUri": "http://localhost:3001/authorize/callback",
    "token":"",
    "bot_prefix":"g!",
    "inviteurl":"",
}