{
    "port": 3001, //port that server will listen on
    "clientId": "", //apps id,
    "proxyURL":"",//frontend URL
    "clientSecret": "", //apps secret
    "scopes": ["identify", "guilds"], //scopes
    "redirectUri": "http://localhost:3001/authorize/callback", //redirect Uri from discord docs
    "token":"", //bot token
    "bot_prefix":"g!",
    "inviteurl":"", // bot invite url
}