.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.infoContainer{
  font-size: 22px
}

.indexButtons{
  padding: 30px;
  margin-bottom: 30px
}